* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Baloo 2', sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.quiz-container {
  width: 375px;
  height: 812px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.quiz-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.progress-tracker {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.question-box {
  width: 100%;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #333;
  text-align: center;
}

.quiz-option {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 1.2em;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  color: black;
}

.quiz-option:hover {
  background-color: #ABD1C6;
}

.next-button {
  width: 100%;
  padding: 15px;
  background-color: #004643;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.4em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.next-button:hover {
  background-color: darken(#004643, 10%);
}

.quiz-option.selected {
  background-color: #004643;
  color: white;
  border: 2px solid #ABD1C6;
}
