* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Baloo 2', sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
   position: relative;
   width: 375px;
   height: 812px;
   padding: 20px;
   background-color: #ffffff;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   overflow-y: auto;
   margin-top: 20px;
}

.fa-house {
  font-size: 16px !important;
  color: #004643;
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
}

.fa-house:hover {
  color: darken(#004643, 10%);
}


.container::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  color: #004643;
  margin-bottom: 30px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
  font-size: 1.2em;
}

input[type="text"],
select {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f7f7f7;
  font-size: 1.2em;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #004643;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.4em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: darken(#004643, 10%);
}

.question-block {
  margin-bottom: 30px;
}

.fa-house {
  font-size: 1.5em;
  color: #004643;
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
}

.fa-house:hover {
  color: darken(#004643, 10%);
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.custom-checkbox {
  position: relative;
  margin-left: 10px;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.custom-checkbox label {
  width: 24px;
  height: 24px;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 2px solid #004643;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked + label {
  background-color: #004643;
  border-color: #004643;
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-checkbox input[type="checkbox"]:focus + label {
  outline: 2px solid #004643;
}

.custom-checkbox label:hover {
  background-color: #e0e0e0;
  border-color: #004643;
}


