/* Reset some default styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevents extra scrolling */
}

.container {
  width: 100%;
  height: 100%; /* Full height of the viewport */ 
  background-color: #ffffff;
  // padding: 20px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0; /* Remove border radius to take the whole screen */
}

form {
  width: 100%;
  height: 100%;
  max-width: 600px; /* Maximum width constraint */
  max-height: 100%;
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
  padding: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="checkbox"],
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1em;
  background-color: #f7f7f7;
}

.question-block {
  margin-bottom: 20px;
}

.question-block h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #555;
}

.choice {
  background-color: #f7f7f7;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.3s;
}

.choice:hover {
  background-color: #ABD1C6;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: #ABD1C6;
  border-color: #004643;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #004643;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: darken(#004643, 10%);
}
